<h1>ChatRooms#index</h1>
<p>Find me in app/views/chat_rooms/index.html.erb</p>

<p class="lead"><%= link_to('New chat room', new_chat_room_path, class: 'btn btn-primary') %></p>
<ul>
	<%= render @chat_rooms %>
</ul>
